@CHARSET "UTF-8";
.annotation {
    background-color: khaki;
}

.annotation-dynamic {
    background-color: #F0F0F0;
}

.annotation.organization {
	background-color: orange;
}

.annotation.location {
	background-color: aquamarine;
}

.annotation.person {
	background-color: orchid;
}
